<ion-header-bar class="bar-positive">
    <a href="#/index" class="button icon-left ion-chevron-left"></a>
    <h1 class="title">Past Moods</h1>
</ion-header-bar>

<ion-content>
    <div ng-repeat="pastMood in pastMoods">
        <div class="card">
            <div class="item item-divider card-title" style="background-color: {{moods[pastMood.mood].color}}"> 
                {{moods[pastMood.mood].label}}
            </div>
            <div class="item card-map">
                <map on-create="mapCreated(map, pastMood.location, pastMood.mood)"></map>
            </div>
            <div class="item item-divider card-footer" style="background-color: {{moods[pastMood.mood].color}}">
                {{times[pastMood.objectId]}}
            </div>
        </div>
    </div>
</ion-content>